.left-menu {
  width: 20%;
  float: left;
}

.admin-content {
  width: 80%;
  float: left;
  padding-left: 50px;
  padding-top: 50px;
}

.list-left-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.list-left-menu li a {
  background-color: lightgray;
  color: black;
}
