default: &default
  adapter: postgresql
  encoding: unicode
  pool: 10
  username: postgres
  password: 123456

development:
  <<: *default
  database: ecommerce
test:
  <<: *default
  database: ecommerce
production:
  <<: *default
  database: ecommerce
  username: postgres
  password: 123456
