.form-create {
  display: table;
  margin: auto;
}

.lbl_category_select {
  padding: 0;
  padding-top: 6px;
}

.category_select {
  width: 190px;
}

.tbl-categories {
  width: 75%;
  margin: auto;
}

.header-name {
  width: 60%;
}

.action-category {
  width: 80%;
  display: table;
  margin: auto;
  margin-bottom: 20px;
}

.btn-create-category {
  display: table;
  margin: auto;
  margin-left: 40px;
  float: left;
}

.category-pagination {
  margin: auto;
  display: table;
}

#tf-search-category {
  width: 60%;
  float: left;
  margin-left: 40px;
}

.btn-search {
  margin-left: 20px;
}

.header {
  text-align: center;
}
